/*CSS CONCEPT*/
/*가변크기값 : (가변크기로 만들 박스의 가로 너비 / 가변 크기로 만들 박스를 감싸고 있는 박스의 가로 너비)*100=가변 크기의 값*/
/*가변마진값 : (가변마진을 적용할 마진값 / 적용할 박스를 감싸고 있는 박스의 가로 너비)*100=가변마진값*/
/*가변패딩값 : (가변패딩을 적용할 패딩값 / 적용할 박스를 감싸고 있는 박스의 가로 너비)*100= 가변 패딩값 -- 일반적 사용*/
/*가변폰트값 : (vw,vh,vmin,vmax 단위를 적용할 글자 크깃값* 브라우저의 너빗값)/100=크깃값 ,vw 너비를 100을 기준 vh 높이 100기준 vmin 브라우저 너비 높이중 작은 쪽을 100기준, vmax브라우저 너비 높이중 큰 쪽을 100기준*/
/*그림/영상의 동적 할당을 위해 width:100%, max-width:100%*/
/*미디워 쿼리의 기본 문법 [only or not]@media [미디어유형] [and or ,] (조건문){실행문}
// not TV  ex) TV를 제외한 모든 곳에 적용// and 앞뒤 조건이 모두 사실이면 , : 앞뒤 조건 중 하나만 사실이면*/
/*미디어 유형의 종류  all : 모든장치, print : 인쇄장치, screen : 컴퓨터 화면 장치 또는 스마트 기기 기타 등등*/
/*조건문표 width : 웹페이지 가로 너비, height 웹페이지 세로 높이, device-width 기기의 가로 너비, device-height 기기의 세로 높이, min :최소 = 이상의 의미 max : 최대 = 이하의 의미*/
/*<link rel="stylesheet" href="mediaqueries.css">*/
/*작성방법 : 조건문 접두사 min/max를 사용할 때 min은 크기가 작은 순서대로(점차 커짐을 의미)  max는 크기가 큰 순서대로 작성(점차 작아지는 것을 의미) 크기기준 : HTML문서 크기를 기준으로 감지*/
/*뷰포트 : 화면의 가시 영역을 다루는 기술*/


*{
    margin: 0;

}
html,body{
    width: 100%;
    font-family: 'Noto Sans KR'
}

#wrap{
    width: 80%;
    height: auto;
    margin: 0 auto;

}

/*기본 Header*/
#header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: absolute;
    top: 0;
}
.header-wrap{
    width: 80%;
    height: 60px;
    margin: 0 auto;
}
.header-logo{
    display: inline-block;
    height: 100%;
}
.header-logo a {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url("../img/header_logo-original.jpg") no-repeat center;
    background-size: contain;
    font-size: 0;
    line-height: 60px;
}
.header-nav{
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 10%;
}
.header-nav ul{
    width: auto;
    height: 60px;
    list-style: none;

}
.header-nav li{
    display: inline-block;
    padding-left: 20px;
    line-height: 60px;

}
.header-nav a{
    text-decoration: none;
    color: #ff0000;
}
/*스크롤을 아래로 내릴 때 유지되는 헤더*/
#fixHeader{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    background:linear-gradient(to right,#CB1F24,#A3191C);
    box-shadow: 0 0 5px rgba(0,0,0,0.3); /*그림자 위 오 하 왼*/
    z-index: 99;  /*우선순위*/
}
#fixheader  .header-logo a{
    display: inline-block;
    width: 60px;
    height: 60px;
    background: url("../img/header_logo-white.png") no-repeat center;
    background-size: contain;
    font-size: 0;
    line-height: 60px;
}
#fixHeader .header-nav a{
    color: #fff;
}

/*컨텐츠*/
.contents{
    width: 100%;

}
.intro{
    width: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 0;
}
.introBG{
    position: absolute;
    width: 100%;
    height: 964px;
    left: 0;
    background: url("../img/div1_backlogo.png") no-repeat right top;
    background-color: rgb(242,242,242);
    background-size: 40%;
    z-index: -1;
}
.introImg{
    width: 40%;
    height: 964px;
    float: left;
    position: relative;
}
.introImg div{
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 90%;
    background: url("../img/div1_App.png")no-repeat;
    background-size: contain;
}

.introExplain{
     width: 50%;
     float: right;
     position: relative;
 }
.introExplainWrap{
    width: 100%;
    padding-top: 25%;
}
.introExplainWrap .title{
    height: auto;
    margin-bottom: 5%;
}
.introExplainWrap .title h1{
    font-size: 60px;
    color: rgb(192,0,0);
}
.introExplainWrap .title h2{
    font-size: 25px;
    color: rgb(174,23,33);
}
.introExplainWrap .explain{
    height: auto;
    color: rgb(127,127,127);
}
.introExplainWrap .explain_mobile-p{
    display:none;
}
.introExplainWrap .explain_web-p{
    font-size: 35px;
}
.introExplainWrap .download{
    width: 100%;
    font-size: 0;
}
.introExplainWrap .download img{
    width: 35%;
    margin: 0 auto;
    height: auto;
}
.platformIntro{
    width: 100%;
    padding-top:1%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
.platformIntroBG{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: url("../img/div2_background.png") no-repeat right;
}
.platformExplain{
    width: 100%;
    height: 100%;
    position: relative;
    text-align:center;
}
.platformExplainWrap{
    width: 100%;
    padding-top: 10%;
}
.platformExplainWrap .platformExplain_mobile-p{
    display:none;
}
.platformExplainWrap .platformExplain_web-p{
    display:block;
    font-size: 40px;
    text-align:center;
    background:rgba(256,256,256,0.4);
}
.platformExplainWrap h2{
    padding-top:  5%;
    padding-bottom : 1%;
}
.counter{
    color:red;
    font-size:100px;
}
.platformExplain_grid{
    display:grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
}
.platformExplain_web-statistics{
    display:inline-block;
    font-size : 30px;
    text-align:center;
    background:rgba(256,256,256,0.4);
}
.platformExplain_web-statistics .statistics{
    font-size : 50px;
}
.keyword{
    width: 100%;
    padding-top:1%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align:center;

}
.keywordBG{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgb(242,242,242);
    z-index: -1;
}
.keywordWrap{
    width: 100%;
    padding-top: 10%;
}
.keywordWrap h1{
    text-decoration: underline;
    text-decoration-color: #CB1F24;
    text-decoration-style: solid;
}
.keywordWrap .keywordBG{
    background:#F2F2F2;
}
.keywordWrap.keywordWeb{
    display:block;
}
.keywordWrap .keywordMobile{
    display:none;
}
.keywordWeb .funcGrid{
    padding-top:5%;
    display:grid;
    grid-auto-rows: minmax(50px, auto);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}
.keywordWeb .keyword-p{
    font-size: 30px;
}
.keywordWeb h2{
    padding-top:5%;
    padding-bottom:10%;
}
.cooperation{
    width: 100%;
    padding-top: 15%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    text-align:center;

}
.cooperationBG{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgb(256,256,256);
    z-index: -1;
}
.cooperationWrap{
    padding-top: 5%;
    width:100%;
}
.footer{
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}
.footerBG{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    background-color: rgb(242,242,242);
    z-index: -1;
}
.footerWeb{
    padding-top:3%;
}
.footerWeb h2{
    font-size:20px;
}
/*laptop*/
@media screen and (max-width: 1280px){

}
/*tablet*/
@media screen and (max-width: 768px){
    .introExplainWrap .title h1{

        font-size:40px;
    }
}
/*mobile*/
@media screen and (max-width: 640px){
    #wrap{
        width: 100%;
    }
    .header-wrap{
        width: 96%;
    }
    .header-nav{
        right: 4%;
    }
    .intro{
        width:100%;
    }
    .introImg{
        float: right;
        width: 100%;
    }
    .introImg div{
        left: 10%;
        width: 82%;
        height: 95%;
    }
    .introExplain{
        width: 100%;
    }
    .introExplainWrap{
        width: 100%;
        padding-top: 11%;
    }
    .introExplainWrap .title{
        height: auto;
        margin-bottom: 5%;
    }
    .introExplainWrap .title h1{
        font-size: 30px;
        position:relative;
        left:10%;
    }
    .introExplainWrap .title h2{ /*THE LITTLE EARTH ON YOUR HAND*/
        font-size: 14px;
        position:relative;
        left:10%;
    }
    .introExplainWrap .explain{
        height: auto;
        position:relative;
        left:10%;
    }
    .introExplainWrap .explain_mobile-p{ /*세부내용 설명*/
        display:block;
        font-size: 15px;
    }
    .introExplainWrap .explain_web-p{ /*웹 세부내용 설명은 보이지 않도록 */
        display:none;
    }
    .introExplainWrap .download{
        position:relative;
        left:20%;
    }
    .introExplainWrap .download img{
        width: 30%;
    }
    .platformExplainWrap .platformExplain_web-p{
        font-size: 20px;
    }
    .platformExplain_grid{
        display:grid;
        grid-auto-rows: minmax(50px, auto);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
    }

    .platformExplain_web-statistics {
        font-size:20px;
    }
    .platformExplain_web-statistics .statistics {
        font-size: 30px;
    }

    .keywordWrap{
        width: 100%;
        padding-top: 10%;
    }
    .keywordWrap .keywordWeb{
        display:none;
    }
    .keywordWrap .keywordMobile{
        display:block;
    }
    .keywordMobile .funcGrid{
        /*padding-top:5%;*/
        display:grid;
        grid-auto-rows: minmax(25px, auto);
        grid-template-columns: repeat(2, 1fr);
        /*grid-gap: 5px;*/
    }
    .keywordMobile .keyword-p{
        font-size: 20px;
    }
    .keywordMobile img{
        width:75%;

    }
}


